<p id="notice"><%= notice %></p>

<h1>Auctions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Initial price</th>
      <th>Start date</th>
      <th>End date</th>
      <th>User</th>
      <th>Product</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auctions.each do |auction| %>
      <tr>
        <td><%= auction.title %></td>
        <td><%= auction.description %></td>
        <td><%= auction.status %></td>
        <td><%= auction.initial_price %></td>
        <td><%= auction.start_date %></td>
        <td><%= auction.end_date %></td>
        <td><%= auction.user.name %></td>
        <td><%= auction.product.title %></td>
        <td><%= image_tag auction.product.image.variant(resize:"100") %></td>
        <td><%= link_to 'Show', auction %></td>
        <td><%= link_to 'Edit', edit_auction_path(auction) %></td>
        <td><%= link_to 'Destroy', auction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auction', new_auction_path %>
