<div class="card" style="width: 18rem;">
  <%= image_tag @auction.product.image.variant(resize:"200"), class:"card-img-top"%>
  <div class="card-body">
    <h5 class="card-title"><%= @auction.title %></h5>
    <p class="card-text"><%= @auction.description %></p>
    <div class='timer' data-seconds-left=<%= @countdown_seconds %>></div>
   
          
    <div id="biddes">
    <% if @bid.nil?%>
      <%=@auction.initial_price%>
    <% else%>
      <%= render @bid %>
    <% end%>
    </div>
    <form>
      <label>EScribe tu puja</label>
      <input type="text" data-behavior="auction_speaker">
    </form>
  
    
  </div>
</div>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
